<header>
    <div class="logo-container">
        <img src="./assets/images/logo.svg" alt="Logo">
    </div>
    <h1 class="project-title">Project S</h1>
    <div class="header-right">
        <div class="settings-icon"></div>
        <div class="dropdown-menu">
            <a href="#" id="activateAccessibleFont">Activar tipo de letra accesible</a>
            <a href="#">Cambiar a modo claro</a>
        </div>
        <div class="signup-container">
            <div class="signup-content">
                <span>Log in</span>
            </div>
        </div>
        <div class="login-container">
            <div class="login-content">
                <div class="icon-profile"></div>
                <span>Sign up</span>
            </div>
        </div>
        <div class="config-icon">
            <!-- Icono de configuración -->
        </div>
    </div>
    </header>