<div class="main__picture">
        <picture>
            <source type="image/webp" srcset="./assets/images/Fondo-img-lol.webp" />
            <source type="image/jpg" srcset="./assets/images/Fondo-img-lol.jpg" />
            <img class="img" src="./assets/images/Fondo-img-lol.png" alt="prueba" srcset="./assets/images/Fondo-img-lol.png" />
        </picture>
        <div class="intro-message">
            <p>Encuentra compañeros de juego perfectos. <span class="highlight">Únete ahora</span> y mejora tu experiencia de juego</p>
        </div>
        <div class="sub-intro-message">
        <p>"Connect, Compete, Conquer"</p>
        </div>
        <div class="game-logos">
            <img src="./assets/images/lol-logo.png" alt="Logo lol" class="game-logo" id="lol-logo">
            <img src="./assets/images/wow-logo.png" alt="Logo wow" class="game-logo" id="wow-logo">
            <img src="./assets/images/valorant-logo.png" alt="Logo valorant" class="game-logo" id="valorant-logo">
            <img src="./assets/images/helldivers2-logo.png" alt="Logo helldivers" class="game-logo" id="helldivers2-logo">
        </div>
        <div class="registration-container">
        <p>Registrate Ahora</p>
        </div>
        <div class="video-container">
          
            <!-- Video de YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zwTiQWSnazQ?si=IAul3_Q77bnEz4ko" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
    </div>